* {
  margin: 0;
  padding: 0;
}

/* Row 1 css  */

#row1 {
  background-color: #293948;
  height: 30px;
  width: 100%;
}

.top-section {
  width: 90%;
  margin: 0 auto;
}
.left-links {
  width: 60%;
  float: left;
  height: 100%;
}
.left-links ul {
}
.left-links ul li {
  float: left;
  list-style: none;
  margin-left: 20px;
  line-height: 30px;
}
.top-section ul li a {
  color: white;
  text-decoration: none;
}
.social-links {
  width: 30%;
  float: right;
  height: 100%;
  text-align: right;
}
.social-links i {
  color: white;
  line-height: 30px;
  border-right: 2px solid #000;
  padding-right: 8px;
}

/* Row 2 css  */

#row2 {
  height: 80px;
  width: 100%;
  background-color: #fff;
}

.header-section {
  width: 90%;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 25%;
}

.logo img {
  margin-top: 5px;
  margin-left: 30px;
  height: 80px;
  width: 80px;
}

.menu {
  width: 65%;
  float: right;
}

.menu ul {
  list-style: none;
  margin-left: 250px;
}

.menu ul li {
  float: left;
  line-height: 80px;
  width: 106px;
  text-align: center;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #293948;
}
.menu ul li i {
  border: 2px solid #000;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  line-height: 30px;
}

/* Row3 css start  */

#row3 {
    height: 600px;
    width: 100%;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: round;
  position: relative;
}

.overlay3
{
height: 100%;
width: 100%;
background: rgba(0, 0, 0, .3);
position: absolute;


}



.banner-section {
text-align: center;
color: #fff;
position: absolute;
width: 100%;
margin: 0 auto;

}
.banner-content {


    
}
.banner-content h1 {
text-transform: uppercase;
font-size: 50px;
line-height: 70px;
padding-top: 200px;

}
.banner-content p {

    font: 80px;
    font-weight: 600;
    text-transform: uppercase;


}

.banner-button {

}
.banner-button button {

    padding: 10px 20px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 50px;
    color: rgb(74, 69, 69);
    font-weight: bold;
    cursor: pointer;
}

.banner-button button:hover{
background-color: transparent;
border-color:rgb(74, 69, 69) ;
color: white;
transition: all 0.4s ease;
border: 2px solid;



}